<table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-4">Drink Name</th>
        <th class="px-4 py-4">Description</th>
        <th class="px-4 py-4">Added to Menu</th>
        <th class="px-4 py-4">Style</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border px-4 py-4"><a href="">Perfect Espresso</a></td>
        <td class="border px-4 py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolore dignissimos</td>
        <td class="border px-4 py-4">January 2, 2020</td>
        <td class="border px-4 py-4">Espresso</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="border px-4 py-4">Japanese Iced Coffee</td>
        <td class="border px-4 py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolore dignissimos</td>
        <td class="border px-4 py-4">January 2, 2020</td>
        <td class="border px-4 py-4">Pourover</td>
      </tr>
      <tr>
        <td class="border px-4 py-4">Americano</td>
        <td class="border px-4 py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolore dignissimos</td>
        <td class="border px-4 py-4">January 2, 2020</td>
        <td class="border px-4 py-4">Espresso</td>
      </tr>
      <tr>
        <td class="border px-4 py-4"><a href="">Perfect Espresso</a></td>
        <td class="border px-4 py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolore dignissimos</td>
        <td class="border px-4 py-4">January 2, 2020</td>
        <td class="border px-4 py-4">Espresso</td>
      </tr>
      <tr class="bg-gray-100">
        <td class="border px-4 py-4">Japanese Iced Coffee</td>
        <td class="border px-4 py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolore dignissimos</td>
        <td class="border px-4 py-4">January 2, 2020</td>
        <td class="border px-4 py-4">Pourover</td>
      </tr>
      <tr>
        <td class="border px-4 py-4">Americano</td>
        <td class="border px-4 py-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, dolore dignissimos</td>
        <td class="border px-4 py-4">January 2, 2020</td>
        <td class="border px-4 py-4">Espresso</td>
      </tr>
    </tbody>
  </table>