<nav class="bg-white py-3 pl-3">
    <ol class="flex divide-x divide-grey text-grey">
        <li class="pr-4"><a href="">Home</a></li>
        <li class="px-4"><a href="">News</a></li>
        <li class="px-4 text-opacity-50">News Article</li>
    </ol>
</nav>