

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crafty Coffee</title>
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700|Fauna+One|Pacifico|Merriweather+Sans:400,700' rel='stylesheet'
    type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class=" border-gray-400 lg:border lg:border-gray-400 bg-gray-100 lg:rounded p-4 flex flex-col justify-between leading-normal px-12 shadow">
      <div class="mb-8">
        <p class="text-sm text-gray-600 flex items-center uppercase">
          Recipe Snapshot
        </p>
        <div class="text-gray-900 font-bold text-xl mb-2">The perfect iced coffee for hot summer days.</div>
        <ul>
            <li class="text-gray-700 text-base">Easy to make and doesn't taste bitter.</li>
            <li class="text-gray-700 text-base">Use the coffee beans you have, or experiment with something new!</li>
            <li class="text-gray-700 text-base">Perfect afternoon refreshment.</li>
        </ul>
      </div>
      </div>

</body>
</html>
